@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --color-primary: #1d1d2d;
  --color-primary-light: #f0eff1;
  --color-secondary: #22d88c;
  --color-secondary-light: #42df9d;
  --color-border: #686b74;
  --border-radius: 1rem;
  margin: 0;
  background-color: #15151a;
  font-family: "Poiret One", cursive;
}

.logo {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0.1rem 1rem;
  width: 600px;
  font-size: 1rem;
  text-align: center;
}

.main-container h1,
h2,
h3 {
  color: white;
  position: absolute;
}

.main-container h1 {
  top: 10%;
  left: 10%;
  font-size: 3.5rem;
  font-family: "Poiret One", cursive;
}
.main-container h2 {
  top: 45%;
  left: 14%;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
}
.main-container h3 {
  top: 22%;
  left: 10%;
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

.main-container {
  background-image: url(./badminton-main.jpeg);
  background-repeat: no-repeat;
  height: 400px;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.nav-column {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--color-secondary);
  transform: translateX(200px);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

button {
  position: fixed;
  top: 9px;
  right: 5px;
  font-size: 3rem;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
button.active {
  transform: translateX(-170px);
}
.nav-column.active {
  transform: translateX(0px);
}
.nav-column ul {
  list-style-type: none;
  padding: 0;
}

.nav-column ul li {
  padding: 1.5rem 0;
}

.nav-column a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 2rem;
  margin: 2.5rem;
}

.nav-column a:hover {
  background-color: var(--color-secondary-light);
  transition: 0.4s ease;
}

.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./tienminh.jpeg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 700px;
  position: relative;
}

.info-container {
  position: absolute;
  width: 50%;
  height: 400px;
  text-align: left;
  color: var(--color-primary-light);
  top: 25%;
  left: 7%;
}

.info-container h1 {
  font-size: 3rem;
  background-color: var(--color-secondary);
  width: 220px;
  text-align: center;
  border-radius: 5px;
  color: var(--color-primary);
  position: absolute;
  top: -100px;
  left: 240px;
}

.info-container p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.gallery-container {
  width: 885px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: var(--color-secondary-light);
  text-align: center;
  font-size: 1.25rem;
  border-radius: var(--border-radius);
  color: var(--color-primary);
}

.slider-container {
  display: flex;
  width: 885px;
  height: 500px;
  border-radius: 1rem;
}

#prevBtn {
  position: absolute;
  top: 50%;
  left: 3%;
  color: var(--color-primary-light);
  font-size: 2rem;
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: 3%;
  color: var(--color-primary-light);
  font-size: 2rem;
}

#prevBtn:hover {
  transform: scale(1.2);
}

#nextBtn:hover {
  transform: scale(1.2);
}

.location-container {
  width: 100vw;
  height: 550px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.direction-container {
  color: white;
  width: 40%;
  height: 300px;
  font-size: 1.5rem;
}

.direction-container h1 {
  font-size: 3rem;
  background-color: var(--color-secondary);
  width: 200px;
  text-align: center;
  border-radius: 5px;
  color: var(--color-primary);
}

.direction-container a {
  text-decoration: none;
  color: var(--color-secondary);
}

.direction-container a:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  height: 550px;
}

.form-container {
  margin-top: 1rem;
  color: var(--color-primary-light);
  width: 60%;
  text-align: center;
}

.form-container h1 {
  margin: auto;
  font-size: 3rem;
  background-color: var(--color-secondary);
  width: 240px;
  border-radius: 5px;
  color: var(--color-primary);
}

.form-input,
.text-input,
.submit-input {
  font-size: 1rem;
  font-family: "Poiret One", cursive;
  width: 40%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid #eeeeeecc;
  outline: none;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 1rem;
  background-color: #eeeeeeda;
}

.form-input:focus {
  border-color: var(--color-secondary-light);
  background: whitesmoke;
}
.text-input:focus {
  border-color: var(--color-secondary-light);
  background: whitesmoke;
}

.text-input {
  width: 695px;
}

.submit-input {
  width: 695px;
  background-color: var(--color-secondary-light);
  border: none;
  font-size: 1.5rem;
  padding: 5px;
}

footer {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: var(--color-primary-light);
}

.foot-container {
  width: 300px;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.foot-container a {
  text-decoration: none;
  color: var(--color-primary-light);
  font-size: 1.5rem;
}

.foot-container a + a {
  margin-left: 15px;
}
